@{
    Layout = "~/Views/Shared/KhachThue/_KhachThueLayout.cshtml";
}

<main class="lg:ml-64 pt-16 p-6">
    <!-- Dashboard Page -->
    <partial name="~/Areas/KhachThue/Views/Dashboard/Index.cshtml" />

    <!-- Profile Page -->
    <partial name="~/Areas/KhachThue/Views/ThongTinCaNhan/Index.cshtml" />

    <!-- Contracts Page -->
    <partial name="~/Areas/KhachThue/Views/HopDong/Index.cshtml" />

    <!-- Bills Page -->
    <partial name="~/Areas/KhachThue/Views/HoaDon/Index.cshtml" />

    <!-- Notifications Page -->
    <partial name="~/Areas/KhachThue/Views/ThongBaoLienHe/Index.cshtml" />
</main>
